.user-card h6 {
    font-size: 14px!important;
}
.format label{
    display: inherit;
    margin-bottom: 0px;
    color: #363b3f;
    font-weight: 600;
}
.format span{
    font-size: 15px;
    color: #686869;
}
.bt-0{
    border-top: 0px!important;
}